@model IEnumerable<RMS.Models.DiscountViewModel>
@{
    ViewData["Title"] = "Discounts";
}
<h2>Discounts</h2>
<p>
    <a asp-action="Create" class="btn btn-primary">Create New Discount</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Value</th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.DiscountType</td>
                <td>@item.DiscountValue</td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
